  
  body{
    position: absolute; 
    width: 100%;
    height: 600px;
    background-image: url("images/sky.png");
 }


  /*-------Input area--------*/

   .input{
    position: relative;
    text-align: center;
    margin: 30px margin;
    top: 70px;
  }
  
  input[type="submit"]{  
    padding: 13px 30px;
    background:lightslategray;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .input input[type="text"]{
    width: 300px;
    height: 45px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  } 
  
/*----------CARDS------------*/

  .cityName{
    position: relative;
    top: 70px;
    text-align: center;
  }

  .card-container{
    position: relative;
    top: 90px;
    width: fit-content;
    height: fit-content;
    margin-top: 0%;
    margin-left: 150px;
  }
  
  .card{  
    position: absolute; 
    width: 150px;
    height: 350px;    
    background-color: lightcyan; 
    left: 0px;
    margin-right: 20px;
    border-radius: 2em 2em 2em 2em;
  } 
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }
  
   .card2{
    position: absolute; 
    width: 150px;
    height: 350px;    
    background-color: lightcyan; 
    left: 200px;
    margin-right: 20px;
    border-radius: 2px;
    border-radius: 2em 2em 2em 2em;
  } 
  
  .card2 p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }  

  .card3{
    position: absolute; 
    width: 150px;
    height: 350px;    
    background-color: lightcyan; 
    left: 400px;
    margin-right: 20px;
    border-radius: 2px;
    border-radius: 2em 2em 2em 2em;
  } 
  
  .card3 p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  } 

  .card4{
    position: absolute; 
    width: 150px;
    height: 350px;    
    background-color: lightcyan; 
    left: 600px;
    margin-right: 20px;
    border-radius: 2px;
    border-radius: 2em 2em 2em 2em;
  } 
  
  .card4 p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  } 

  .card5{
    position: absolute; 
    width: 150px;
    height: 350px;    
    background-color: lightcyan; 
    left: 800px;
    margin-right: 20px;
    border-radius: 2px;
    border-radius: 2em 2em 2em 2em;
  } 
  
  .card5 p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  } 